<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Profile</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
<div id='main'>
    <script>
        var user = <%- JSON.stringify(user) %>;
        var image = <%- JSON.stringify(image) %>;
        var err_msg = <%- JSON.stringify(err_msg) %>;
    </script>
    <script src="javascripts/profile_final.js"></script>
</div>
</body>
</html>
