doctype html
html(lang="en")
    head
        title Send Notification
    body
        #main
            script.
                var website = !{JSON.stringify(website)}
                var groups  = !{JSON.stringify(groups)}
            script(src='/javascripts/send_notification_final.js')


