doctype html
html(lang="en")
    head
        title View Groups
    body
        #main
            script.
                var website = !{JSON.stringify(website)}
                var groups  = !{JSON.stringify(groups)}
            script(src='/javascripts/view_groups_final.js')

