<!-- views/view_groups.ejs -->
<html>
<head>
    <title>View Groups</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div id='main'>
    <script type="text/babel">
    React.render(
        <div>
            <h3> Website:  <%=website%> </h3>
            <label>Groups</label>
            <ol>
                <% for(var i=0; i<groups.length; i++) {%>
                    <li> <%= groups[i].name %> </li>
                <% } %>   
            </ol>
            <form action="/profile" method="get">
                <button>Profile</button>
            </form>
        </div>,
    document.getElementById('main'));
    </script>
    </div>
</body>
</html>

